.App {
  &__header {
    text-align: center;
  }

  &__main {
    margin: auto 3rem;
    font-size: 1.4rem;
  }

  &__footer {
    text-align: center;
    position: fixed;
    bottom: 1rem;
    left: 0;
    right: 0;
  }
}
